.well.well-mini
  %ul.nav.nav-list.bs-docs-sidenav
    = active_li "Create button",         button_manager_path(:bm_create_button)
    = active_li "Manage button status",  button_manager_path(:bm_manage_button_status)
    = active_li "Get button details",    button_manager_path(:bm_get_button_details)
    = active_li "Button search",         button_manager_path(:bm_button_search)
    = active_li "Set inventory",         button_manager_path(:bm_set_inventory)
    = active_li "Get inventory",         button_manager_path(:bm_get_inventory)

