= api_form_for @bm_button_search, :url => button_manager_path(:bm_button_search) do |f|

  .row
    .span5
      %legend Button search request
      = f.input :StartDate
      = f.input :EndDate

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @bm_button_search_response
  = render 'api_response', :request => @bm_button_search, :response => @bm_button_search_response
