= api_form_for @bm_manage_button_status, :url => button_manager_path(:bm_manage_button_status) do |f|

  .row
    .span5
      %legend Manage button status request
      = f.input :HostedButtonID
      = f.input :ButtonStatus

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @bm_manage_button_status_response
  = render 'api_response', :request => @bm_manage_button_status, :response => @bm_manage_button_status_response
