= api_form_for @bm_set_inventory, :url => button_manager_path(:bm_set_inventory) do |f|

  .row
    .span5
      %legend Set inventory request
      = f.input :HostedButtonID
      = f.input :TrackInv
      = f.input :TrackPnl
      = f.fields_for :ItemTrackingDetails do |det|
        = det.input :ItemQty
        = det.input :ItemCost

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @bm_set_inventory_response
  = render 'api_response', :request => @bm_set_inventory, :response => @bm_set_inventory_response
